
:root {
    --dark: #2c3e50;
    --light: #ecf0f1;
    --accent: #3498db;
    --text-dark: #34495e;
    --text-light: #bdc3c7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    background-color: var(--dark);
    color: var(--text-dark);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: var(--light);
}

header h1 {
    margin-bottom: 10px;
}

/* Navigation Styles */
.nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
    padding: 10px 0;
}

.nav-item a {
    color: var(--light);
    text-decoration: none;
}

.nav-item a:hover {
    color: var(--accent);
}

.nav-item a.active {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
}

/* Container Styles */
.portfolioContainer {
    margin: 0px;
    padding: 0px;
    background-color: var(--light);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    
}

.portfolioContainer h2 {
    padding: 30px;
    text-align:  center;
    color: var(--text-dark);
}

.portfolioPage {
    min-height: 70vh;
}

.aboutPage p {
    padding: 0px 40px 15px 40px;

}

.aboutPage img {
    height: 150px;
    border-radius: 50%;
    border: solid var(--dark) 5px;
    margin: 5px 30px;
    float: left;
}

.resumePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resumePage img {
    width: 80%;
    align-items: center;
    margin: 20px 10px;
    border: 1px solid transparent;;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--text-dark);

}

.footer {
    height: 100px;
    color: var(--light);
    background-color: var(--dark);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.form-input {
    display: flex;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0px;
    border: var(--text-dark) 1px solid
}
.contactPage {
    min-height: 70vh;
}

.contactFormContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactForm {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px 20% 50px;
    color: var(--text-light);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--dark);
    border-radius: 10px;
    }

.error {
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin: 0px 0px 10px

}

.submit-button {
    align-self: center;
    cursor: pointer;
    border: none;
    margin: 20px 0px;
    height: 40px;
    width: 30%;
    text-align: center;
    line-height: 40px;
    border-radius: 7px;
    background-color: var(--light);
    color: var(--dark);
    font-size: 16px;
    box-shadow: 0 2px 5px 0 var(--dark);
    transition: 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.submit-button:hover{
        background: var(--text-light);
        box-shadow: 0 3px 6px var(--text-dark)
    }
    